form#registerForm(method="POST" action="/register")
  div
    label(for="username") 아이디
    input(type="text" id="username" name="username" required)

  div
    label(for="password") 비밀번호
    input(type="password" id="password" name="password" required)

  div
    label(for="confirmPassword") 비밀번호 확인
    input(type="password" id="confirmPassword" name="confirmPassword" required)

  div
    label(for="name") 이름
    input(type="text" id="name" name="name" required)

  div
    label(for="address") 주소
    input(type="text" id="address" name="address" required)

  div
    label(for="phone") 전화번호
    input(type="tel" id="phone" name="phone" required)

  div
    label(for="email") 이메일
    input(type="email" id="email" name="email" required)

  div
    label(for="birthdate") 생년월일 (연도-월-일)
    input(type="date" id="birthdate" name="birthdate" required)

  div
    input(type="checkbox" id="agreement" name="agreement" required)
    label(for="agreement") 개인정보 수집 및 이용에 동의합니다.

  button(type="submit") 가입하기
